{% extends "default.html" %}
{% block body %}
        <header class="page-header">
                    <a href="{{site.url}}" class="author_name">{{author.name}}</a>
        </header>

        <article class="page-content">
                    <div class="archive">
                        <div class="timeline" id="timeline">
{%- for yepost,posts in ye|dictsort(reverse=true) %}

                              <div class="archive-title">
                                <h4 class="archive-year" >{{yepost}}</h4>
                            </div>
                            <ul>
                                {%- for post in ye[yepost]  | sort(reverse=true)-%}

                                <li>
                                    <div class="archive-title-zeit">{{post.date|strftime("%a. %d %b")}}</div>
                                    <a {% if post.top %} class="title_top" {% endif %} href="{{post.url}}">{{post.title}}</a></li>

                                 {%- endfor %}


                            </ul>
{%- endfor %}
                        </div>

                    </div>
        </article>

{% endblock %}
<!-- end page content -->
